* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html {
	font-size: 62.5%; /* 1rem = 10px*/
}
body {
	font-size: 1.4rem; /* soit 14px*/
	font-family: arial;
	color: white;
}
.container {
	
	display: flex;
  flex-direction: column;
  height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #1e2337;
}

.banniere-titre {
	margin-bottom: 1rem;
}

h1 {
	color: red;
}
